menu "Swadge Configuration"

	choice BUILD_HARDWARE
		prompt "Select the hardware"
		default HARDWARE_GUNSHIP
		help
			Select the hardware being built for
		config HARDWARE_WAVEBIRD
			bool "HARDWARE_WAVEBIRD"
			help
				Build for the Squarewavebird Swadge (2023)
		config HARDWARE_GUNSHIP
			bool "HARDWARE_GUNSHIP"
			help
				Build for the Gunship Swadge (2024)
		config HARDWARE_HOTDOG_PROTO
			bool "HARDWARE_HOTDOG_PROTO"
			help
				Build for the Protoype Hotdog Swadge (2025)
		config HARDWARE_HOTDOG_PRODUCTION
			bool "HARDWARE_HOTDOG_PRODUCTION"
			help
				Build for the Production Hotdog Swadge (2025)		
	endchoice
	choice DEBUG_OUTPUT_TYPE
		prompt "Select Debug Output"
		default DEBUG_OUTPUT_USB
		help
			Select debug output (i.e. where printf() goes).
		config DEBUG_OUTPUT_USB
			bool "DEBUG_OUTPUT_USB"
			help
				printf() is sent over USB
		config DEBUG_OUTPUT_UART
			bool "DEBUG_OUTPUT_UART"
			help
				printf() is sent over the default UART pin
		config DEBUG_OUTPUT_UART_SAO
			bool "DEBUG_OUTPUT_UART_SAO"
			help
				printf() is sent over the SAO connector instead of LED mirroring.
	endchoice
	choice SOUND_OUTPUT_TYPE
		prompt "Select Sound Output"
		default SOUND_OUTPUT_BUZZER
		help
			Select sound output, either the buzzers or the speaker.
		config SOUND_OUTPUT_BUZZER
			bool "SOUND_OUTPUT_BUZZER"
			help
				Sound comes out the two buzzers
		config SOUND_OUTPUT_SPEAKER
			bool "SOUND_OUTPUT_SPEAKER"
			help
				Sound comes out the speaker
	endchoice
	choice FACTORY_TEST_TYPE
		prompt "Select Factory Test Type"
		default FACTORY_TEST_NORMAL
		help
			Select factory test mode, either boot to the normal menu or show a warning
		config FACTORY_TEST_NORMAL
			bool "FACTORY_TEST_NORMAL"
			help
				Run tutorial and normal menu after factory test
		config FACTORY_TEST_WARNING
			bool "FACTORY_TEST_WARNING"
			help
				Show a warning after factory test
	endchoice
endmenu