 name: Build Firmware and Emulator
 run-name: ${{ github.actor }} is building both firmware and emulator
 on: [push]
 jobs:
   Explore-GitHub-Actions:
     runs-on: windows-latest
     steps:
    
      - name: Check out repository code
        uses: actions/checkout@v3
 
      - name: Create a version file
        run: |
          printf "Commit: https://github.com/AEFeinstein/Swadge-IDF-5.0/commit/$GITHUB_SHA \nBuilt at: $(date)" >> version.txt

      - name: Install msys64 packages
        run: |
          C:\msys64\usr\bin\bash -lc 'pacman --noconfirm -S base-devel mingw-w64-x86_64-gcc zip'

      - name: Compile the Emulator
        run: |
          $env:path = $env:path.Insert($env:path.ToLower().IndexOf("c:\windows\system32"), "C:\msys64\mingw64\bin;C:\msys64\usr\bin;")
          make -j2

      - name: Upload Emulator artifact
        uses: actions/upload-artifact@v3
        with:
          name: swadge2024-emulator
          path: |
            swadge_emulator.exe
            spiffs_image
            version.txt

      - name: Add DLL to Emulator artifact
        uses: actions/upload-artifact@v3
        with:
          name: swadge2024-emulator
          path: |
            C:\msys64\mingw64\bin\libwinpthread-1.dll

      - name: Set up the IDF
        run: |
          git clone -b v5.0.1 --recurse-submodules https://github.com/espressif/esp-idf.git ${{ runner.temp }}/esp-idf -j2
          ${{ runner.temp }}/esp-idf/install.ps1
 
      - name: Compile the firmware
        run: |
          $env:path = $env:path.Insert($env:path.ToLower().IndexOf("c:\windows\system32"), "C:\msys64\mingw64\bin;C:\msys64\usr\bin;")
          ${{ runner.temp }}/esp-idf/export.ps1
          idf.py build dfu

      - name: Upload Firmware artifact
        uses: actions/upload-artifact@v3
        with:
          name: swadge2024-firmware
          path: |
            build/swadge2024.elf
            build/bootloader/bootloader.bin
            build/partition_table/partition-table.bin
            build/swadge2024.bin
            build/storage.bin
            build/dfu.bin
            version.txt
            tools/pyFlashGui/pyFlashGui.py
